html, body {
  height: 100%;
}

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: 100%;
  text-align: justify;
  line-height: 1.5em;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
  padding: 0px;
}

h1 { 
  font-size: 200%;
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-size: 175%;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 150%;
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 {
  font-size: 125%;
  margin-top: 1em;
  margin-bottom: 1em;
}

h5 {
  font-size: 115%;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: #00a;
}

a:hover {
  color: #000;
}

a:visited {
  color: #a0a;
}

strong{
  margin: 0px;
}

pre{
  margin: 25px;
  padding: 25px;
  background-color: #EEE;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code{
  margin: 0px;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}